body{
    background-color:rgba(18, 155, 176, 0.939);
    color:aliceblue; /*text color*/
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 60pt;
  
}
h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 30pt;
    background-color: rgb(53, 74, 128);
}
a{
    color:aqua; 
}
a:visited{
    color:rgb(255, 255, 255);
}
img{
    border: 10px solid rgb(255, 111, 0);
    padding: 3px;
    margin: 20px;
    /*centers stuff*/
    display: block;
    margin: auto;
}
.imgcenter{
    display: block;
    margin: auto;
}
.rizz{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 138, 160);
    background-color: rgb(252, 243, 230);
    border: dashed rgb(255, 255, 255) 2px;
    font-size: 16pt;
    font-style: italic;
}
.rizz:hover{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 16pt;
    font-style: normal;
    border: none;
    background-color: rgb(27, 167, 199);
}
li{
    text-decoration:wavy;
}
li:hover{
    text-decoration: underline;
}
/*positioning styles*/
.common{
    position: absolute;
    border: 5px solid black;
    background-color: beige;
}